<div>
    <div id="loading-overlay" data-bind="visible: $root.router.isNavigating()">
        <div class="progress progress-danger progress-striped active page-progress-bar" style="margin: 20% 10%">
            <div class="bar" style="width: 100%;"></div>
        </div>
    </div>
    <header>
        <!--ko compose: {view: 'nav'} -->
        <!--/ko-->
    </header>
    <section id="content" class="main container-fluid">
        <!--ko compose: {model: router.activeItem, transition: 'entrance'} -->
        <!--/ko-->
    </section>
    <footer>
        <!--ko compose: {view: 'footer'} -->
        <!--/ko-->
    </footer>
</div>
